h2.center {
  text-align: left;
}
h2.center.dark_mode{
  color: white;
}

.subreddits {
  position: absolute;
  right: 0;
  margin-top: 30px;
  padding: 30px;
  background-color: white;
  width: 20vw;
  height: 1700px;
  box-shadow: -5px 4px 6px rgba(0, 0, 0, 0.1);
}

.subreddits.dark_mode{
  background-color: rgb(48,48,48);
}

.name.dark_mode{
  color: black;
}

.subreddit-list {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 60px;
  margin: 2px 0px;
  width: 100%;
  background-color: whitesmoke;
  cursor: pointer;
  border: none;
  outline: none;
  color: rgb(71, 71, 71);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 0.80rem;
}
button:hover {
  background-color: darkgray;
  border: 1px lightgrey solid;
}

button.selected {
  background-color: rgba(255, 69, 0, 0.6);
}

button.selected::after {
  content: ''; 
  position: absolute;
  height: 60px;
  margin: -6px;
  width: 5px; 
  background-color: orangered; 
}

button.dark_mode{
  background-color: rgb(75, 75, 75);
}
button.dark_mode.selected{
  background-color: rgba(255, 69, 0, 0.6);
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 30px;
  margin-left: 20px;
  border: 3px solid blue;
}

.subreddit-item{
  width: 100%;
}
