img.logo {
  height: 60px;
  margin-left: 100px;
}

.menu_icon{
    margin-right: 60px;
}

.search-container {
  position: relative;
}

.search-container input {
  height: 40px;
  border-radius: 25px;
  border: none;
  padding: 0 40px 0 20px; /* Add padding on the right to accommodate the icon */
  width: 350px;
  text-align: center;
  outline: none;
}

.search-button {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background-color: white;
    border: 1px solid lightgray;
    cursor: pointer;
    /* Add styles to create the "corner" effect */
    padding: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .search-button:hover {
    background-color: red; /* Set the background color to red on hover */
  }

form input{
    height: 40px;
    border-radius: 25px;
    border: none;
    width: 350px;
    text-align: center;
    outline: none;
}

form :focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: white;
  }

header {
  height: 75px;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
}

form {
  margin: auto;
}
