.card {
    background: var(--color-foreground);
    box-shadow: var(--box-shadow);
    margin-bottom: var(--spacing-4);
    border-radius: var(--radius);
    padding: var(--spacing-3);
    transition: box-shadow 0.1s ease-in;
    color: var(--color-text-secondary);
  }

  .post-container {
    width: 100%;
  }

  .post-image-container {
    width: 100%;
    overflow: hidden;
    border-radius: var(--radius-2);
  }

  
  .post-image {
    width: 100%;
    height: auto;
  }
  
  .post-image-container.expanded .post-image {
    transform: scale(2); /* Scale the image to 2x when expanded */
  }