.card {
    background: var(--color-foreground);
    box-shadow: var(--box-shadow);
    margin-bottom: var(--spacing-4);
    border-radius: var(--radius);
    padding: var(--spacing-3);
    transition: box-shadow 0.1s ease-in;
    color: var(--color-text-secondary);
  }

  .post_container {
    width: 100%;
  }

  .post_image_container {
    width: 100%;
    overflow: hidden;
    border-radius: var(--radius-2);
  }

  
  .post_image {
    width: 100%;
    height: auto;
  }
  
  .post_image_container.expanded .post_image {
    transform: scale(2); 
  }